<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('public'); -%>
    <title>登录</title>
    <style>
      body {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .login-form {
        background-color: #fff;
      }
      .login-form .item {
        padding: 12px 0;
      }
      .button-box {
        margin-top: 20px;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <%- include('layout/header'); -%>
    <div class="container">
      <form class="login-form">
        <div class="item">
          <label class="form-label">Username</label>
          <input
            type="text"
            class="form-control username-input"
            placeholder="请输入用户名"
            required
          />
          <div class="invalid-feedback">用户名不得为空</div>
        </div>
        <div class="item">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control password-input"
            placeholder="请输入密码"
            required
          />
          <div class="invalid-feedback">密码不得为空</div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end button-box">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            记住我
          </label>
          <button class="btn btn-primary login-button" type="button">
            登录
          </button>
        </div>
      </form>
    </div>
    <%- include('layout/footer'); -%>
    <script type="text/javascript" src="js/login.js"></script>
  </body>
</html>
