html,
body {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* page-header */
header.header {
  display: flex;
  padding: 0 20px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
header.header .title {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
header.header .user-text,
header.header .logout-text {
  padding: 0 5px;
  font-size: 14px;
  font-style: normal;
  color: rgb(0, 0, 0, 0.85);
}
header.header .logout-text {
  cursor: pointer;
  transition: color 0.25s;
}
header.header .logout-text:hover {
  text-decoration: underline;
}
.footer {
  padding: 16px 0;
  text-align: center;
  background-color: #ffffff;
  z-index: 20;
  color: rgb(7, 17, 27);
}
.login-page,
.register-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.login-page[v-cloak],
.register-page[v-cloak],
#todo-list-app[v-cloak] {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
/* todo-list-app */
#todo-list-app {
  padding: 10px 0;
  flex: 1;
  min-height: 400px;
  min-width: 560px;
  background-image: url('/images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#todo-list-app .todo-header {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
/* 标题 */
#todo-list-app .title {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #18a058;
}
/* todo-list列表 */
#todo-list-app .todo-list {
  padding: 10px 0 20px;
}
#todo-list-app .todo-item {
  padding: 5px 0;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
#todo-list-app .todo-item:hover {
  background-color: rgb(250, 250, 250);
}
#todo-list-app .todo-item.completed .todo-text {
  text-decoration: line-through;
  color: grey;
}
#todo-list-app .todo-item .todo-text {
  padding: 0 5px;
  flex: 1;
  min-width: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#todo-list-app .n-pagination {
  margin-top: 10px;
  justify-content: center;
}
