html,
body {
  padding: 0;
  margin: 0;
}
/* page-header */
header.header {
  display: flex;
  padding: 0 20px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
header.header .title {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
header.header .user-text,
header.header .logout-text {
  padding: 0 5px;
  font-size: 14px;
  font-style: normal;
  color: rgb(0, 0, 0, 0.85);
}
header.header .logout-text {
  cursor: pointer;
  transition: color 0.25s;
}
header.header .logout-text:hover {
  text-decoration: underline;
}
.footer {
  padding: 16px 0;
  text-align: center;
  background-color: #ffffff;
  z-index: 20;
  color: rgb(7, 17, 27);
}
.login-page,
.register-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.login-page[v-cloak],
.register-page[v-cloak],
#todo-list-app[v-cloak] {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
/* todo-list-app */
#todo-list-app {
  flex: 1;
  min-height: 0;
}
