<header
  class="header"
  id="header-app"
>
  <span class="title">TodoList</span>
  <span>
    <n-dropdown
      trigger="hover"
      :options="dropdown_options_list"
    >
      <n-button
        text
        type="primary"
      >
        <%= user %>
      </n-button>
    </n-dropdown>
  </span>
</header>

<script src="/js/header.js"></script>
